# Sample modules file to be placed in /etc/ronin/

# Alternative branches can be specified with a semi-colon
artifacts:
 - https://github.com/puppetlabs/puppetlabs-ntp
 - https://github.com/puppetlabs/puppetlabs-git

# If using etcd, you can format the run list thus:
# {
#  "artifacts": [
#    "https://github.com/opscode-cookbooks/ntp",
#    "https://github.com/opscode-cookbooks/git"
#   ]
# }